html,
body {
    height: 100% !important;
    width: 100% !important;
    font-family: 'Arial';
    font-size: 20px;
    background-image: url('../img/darts10.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.text-bg{
    text-shadow: 1px 1px 6px #000 !important;
    font-weight: bold !important;
    color: white;
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black !important;
}

.text-norm > .panel > .panel-body{
    font-family: 'Arial' !important;
    font-size: 20px !important;
}
.loginform {
    width: 375px;
    height: 25px;
  }
.h-34 {
    height: 34px;
}

.w-100 {
    width: 100px;
}

.w-100p {
    width: 100%;
}

.w-45p {
    width: 45%;
}

.w-50p {
    width: 50%;
}

.w-55p {
    width: 55%;
}

.w-25p {
    width: 25%;
}

.w-33p {
    width: 33%;
}

.w-30p {
    width: 30%;
}

.center {
    margin: auto;
    width: 50%;
}

.txt-underline {
    text-decoration: underline;
}

.txt-ctr {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.cl-white {
    color: white;
}

.cl-black {
    color: black;
}

.cl-success {
    color: #5cb85c;
}

.cl-warning {
    color: #e13443;
}

.cl-gold {
    color: #bf9832;
}

.jockey-gold {
    color: #deb146;
}

.jockey-silver {
    color: #9c9c9c;
}

.jockey-bronze {
    color: #ce814d;
}

.mar-auto {
    margin: auto;
}

.mar-0 {
    margin: 0px;
}

.mar-10 {
    margin: 10px;
}

.    color: #fff;
outline: none;
text-decoration: none;-0 {
    margin-top: 0px;
}

.mart-5 {
    margin-top: 5px;
}

.mart-10 {
    margin-top: 10px;
}

.mart-15 {
    margin-top: 15px;
}

.mart-20 {
    margin-top: 20px;
}

.mart-10p {
    margin-top: 10%;
}

.mart-28 {
    margin-top: 28px;
}

.mart-30 {
    margin-top: 30px;
}

.marb-0 {
    margin-bottom: 0px;
}

.marb-5 {
    margin-bottom: 5px;
}

.marb-10 {
    margin-bottom: 10px;
}

.marb-14 {
    margin-bottom: 14px;
}

.marb-15 {
    margin-bottom: 15px;
}

.marb-50 {
    margin-bottom: 50px;
}

.marl-25p {
    margin-left: 8%;
}

.marr-25p {
    margin-right: 25%;
}

.pad-0 {
    padding: 0px;
}

.pad-5 {
    padding: 5px;
}

.pad-10 {
    padding: 10px;
}

.padt-5 {
    padding-top: 5px;
}

.padt-10 {
    padding-top: 10px;
}

.padt-50 {
    padding-top: 50px;
}

.padt-10p {
    padding-top: 10%;
}

.padb-10 {
    padding-bottom: 10px;
}

.padl-10 {
    padding-left: 10px;
}

.padl-40 {
    padding-left: 40px;
}

.padl-20p {
    padding-left: 20%;
}

.padr-40 {
    padding-right: 40px;
}

.padr-20p {
    padding-right: 20%;
}

.fa-1p4x {
    font-size: 1em !important;
}

.fs-11 {
    font-size: 11px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.disp-in {
    display: inline;
}

.disp-bl {
    display: block;
}

.disp-fl {
    display: flex;
}

.pos-rel {
    position: relative;
}

.bord-rd {
    border-radius: 5px;
}

.bord-rd-tl {
    border-top-left-radius: 5px;
}

.bord-rd-tr {
    border-top-right-radius: 5px;
}

.bord-rd-bl {
    border-bottom-left-radius: 5px;
}

.bord-rd-br {
    border-bottom-right-radius: 5px;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}


/* Header */

#product-wrapper {
    padding: 0;
    margin: 0;
    background-color: #262626;
    position: fixed;
    width: 100%;
}

.product-image {
    height: 18px;
}

.product-item {
    display: table-cell;
    vertical-align: middle;
    padding: 0 12px;
}

.product-image-large {
    height: 20px;
}

.product-list {
    margin: auto;
    height: 28px;
    display: table;
}


/* Navbar */

#navHeader {
    outline: none;
    width: 100%;
    height: 135px;
    color: #fff;
    /* background: #122d68 20%; */
    position: static;
    box-shadow: 0px 10px 30px #000;
    background: linear-gradient(#000, rgb(43, 43, 43));
    /* opacity:0.9; */

}
#navHeader [type=text] {
    width: 150px;
    height: 5px;
    font-size:12px;
    color: #000;
    padding: 10px 5px; 
    position: absolute;
    right:260px;
    top:80px;  
}
#navHeader [type=password] {
    width: 150px;
    height: 5px;
    font-size:12px;
    color: #000;
    padding: 10px 5px; 
    position: absolute;
    right: 100px;
    top:80px;
}
#navHeader [type=submit] {
    /* width: 150px; */
    color: #000;
    height:20px;
    font-size: 12px;
    list-style-type: none;
    position: absolute;
    right: 40px;
    top:80px;
}
#navHeader [type=reg] {
    /* width: 150px; */
    color: #fff;
    height:20px;
    font-size: 12px;
    list-style-type: none;
    position: absolute;
    right: 360px;
    top:110px;
}
li:hover [href] {
    border: 1px solid black;    
    outline: #000;
    
    }
.logout {
    /* width: 150px; */
    height:20px;
    font-size: 18px;
    list-style-type: none;
    position: absolute;
    right: 50px;
    top:80px;
    color: #fff;
    outline: none;
    text-decoration: none;
}


#logoDiv {
    width: 230px;
    height: auto;
    float: left;
    display: inline-block;
    list-style-type: none;
}

#logoDiv img {
    height: 150px;
    width: 150px;
}

#navList {
    font-size: 18px;
    text-align: center;

}

#navList a {
    color: #fff;
    outline: none;
    text-decoration: none;
}

#navList li {
    float:left;
    padding-right: 20px;
    width:200px;
}
/*
#navList li:hover {
    transform: scale(1.2) perspective(1px); */
/* } */

#navList li a:focus {
    transform: scale(1.2) perspective(1px);
}


/* Inner Banner */

.contentBanner {
    background-image: url('../img/contentBanner.jpg');
    background-size: 1140px;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    min-height: 700px;
}


/* Footer */

#footerTop {
    width: 100%;
}

#footerBottom {
    width: 100%;
}

#topBtn {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

footer hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 0px solid;
    padding: 0;
    background: white;
}

.black-input{
    color: #000;
}

#login-panel{
    float: right;
}

/* .table-hover-me > tbody > tr:hover{
    background-color:#5697ff !important;
} */

input[type="text"].result-box {
    height: 40px;
    width: 60px;
    font-size: 20;
    text-align: center;
    position: relative;
    margin: 0 0 1rem;
    border: 1px solid #BBB;
    border-color: #BBB #ECECEC #ECECEC #BBB;
    padding: .2rem;
}
#failed{
    position: absolute;
    right: 420px;
    top:80px;
}
/* NUMBER SPINNER START */
/* Reference: https://jsfiddle.net/Volker_E/WwfW9/ */
input[type="number"] {
    height: 50px;
    width: 70px;
    font-size: 30;
    padding-left: 10 !important;
    position: relative;
    margin: 0 0 1rem;
    border: 1px solid #BBB;
    border-color: #BBB #ECECEC #ECECEC #BBB;
    padding: .2rem;
}
input[type="number"].mod::-webkit-outer-spin-button, 
input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 25;
    /* transform: scale(2); */
}
input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}
/* NUMBER SPINNER END */
